<div class="container chat">
  <h1>Message <%= @flat.user.name.split.first.chomp(',') %></h1>
  <div id="messages" class="messages">
    <% @messages.each do |message| %>
      <div id="message-<%= message.id %>" class="message <%= message.sender == current_user ? 'sent' : 'received' %>">
        <small class="message-info">
          <strong><%= message.sender.name %></strong>
          <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p class="message-content"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@flat, @message], local: true, html: { class: "message-form" } do |f| %>
    <%= f.hidden_field :recipient_id, value: @landlord.id %>
    <div class="message-input-container">
      <%= f.text_area :content, placeholder: "Type a message..." %>
      <%= f.submit "Send message", class: "send-message-btn" %>
    </div>
  <% end %>
</div>
