<!-- Flat Details and Reservation Section Container -->
<div class="flat-container">
  <!-- Flat Details -->
  <div class="flat-image-wrapper">
    <h1><strong><%= @flat.name %></strong></h1>
    <% if @flat.photo.attached? %>
      <%= image_tag @flat.photo, class: 'flat-image' %>
    <% end %>
    <p></p>
    <p><%= @flat.description %></p>
    <!-- Thin line below description -->
    <hr class="thin-line0">
    <!-- Landlord picture and name -->
    <% if @user.photo.attached? %>
      <%= link_to user_path(@user), class: "no-decoration" do %>
        <div class="landlord-info">
          <%= image_tag @user.photo, class: 'landlord-image' %>
          <p>Hosted by <%= @user.name %></p>
        </div>
      <% end %>
    <% end %>
    <hr class="thin-line0">
    <!-- What this place offers section -->
    <h2><strong>What this place offers</strong></h2>
    <div class="amenities-grid">
      <div class="amenities-left">
        <% @flat.amenities.split(', ').first(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
      <div class="amenities-right">
        <% @flat.amenities.split(', ').drop(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Reservation Section -->
  <div class="reservation-container" data-controller="reservation" data-reservation-price-per-night="<%= @flat.price_per_night %>">
    <h3><strong><%= @flat.price_per_night %> gold per night</strong></h3>
    <%= form_with model: @reservation, url: flat_reservations_path(@flat), local: true, html: { id: 'reservation-form' } do |f| %>
      <div class="form-group">
        <%= f.label :start_datetime, "CHECK-IN", style: "font-weight: bold; font-size: 0.8em;" %>
        <%= f.text_field :start_datetime,
          name: "reservation[start_datetime]",
          data: { controller: "datepicker", reservation_target: "startDatetime", action: "change->reservation#calculateTotal" },
          class: "form-control",
          id: "start_datetime" %>
      </div>
      <div class="form-group">
        <%= f.label :end_datetime, "CHECKOUT", style: "font-weight: bold; font-size: 0.8em;" %>
        <%= f.text_field :end_datetime,
          data: { controller: "datepicker", reservation_target: "endDatetime", action: "change->reservation#calculateTotal" },
          class: "form-control",
          id: "end_datetime" %>
      </div>
      <div class="form-group">
        <%= f.label :guests, "GUESTS", style: "font-weight: bold; font-size: 0.8em;" %>
        <%= f.number_field :guests,
          name: "reservation[guests]",
          data: { reservation_target: "guests", action: "input->reservation#calculateTotal" },
          class: "form-control",
          min: 1,
          id: "guests" %>
      </div>
      <div class="form-group">
        <%= f.submit "Reserve", class: "btn btn-primary w-100" %>
      </div>
      <p class="text-muted" style="font-size: 0.9em; text-align: center;">
        You won't be charged yet. <br>
        Price per night includes VAT and all applicable fees.
      </p>
      <div class="form-group">
        <!-- Price Breakdown -->
        <div class="d-flex justify-content-between">
          <p id="price-breakdown-msg" class="d-inline-block" data-reservation-target="priceBreakdown"></p>
          <p class="final-price-msg" data-reservation-target="finalPrice"></p>
        </div>
        <hr style="border-top: 1px solid #ccc; margin: 5px 0;">
        <div class="d-flex justify-content-between">
          <p><strong>Total</strong></p>
          <strong>
            <p class="final-price-msg" data-reservation-target="finalPrice"></p>
          </strong>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Map -->
<div class="location">
  <h3><strong>Where you’ll be</strong></h3>
  <%= @flat.address %>
</div>
<div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<!-- Message the landlord -->
<%= link_to "Message the landlord", new_flat_message_path(@flat), class: "btn btn-primary" %>
