

<div class="flat-gallery">
  <div class="flat-image-wrapper">
    <h1><strong><%= @flat.name %></strong></h1>
    <% if @flat.photo.attached? %>
      <%= image_tag @flat.photo, class: 'flat-image' %>
    <% end %>
    <p></p>
    <p><%= @flat.description %></p>
    <p><strong><%= @flat.price_per_night %> gold per night</strong> </p>


    <!-- Button to go back to the list of flats -->
    <%= link_to 'Back to All Flats', flats_path, class: 'btn btn-primary' %>
  </div>
</div>
