<!-- Flat Details and Booking Section Container -->
<div class="flat-container">
  <!-- Flat Details -->
  <div class="flat-gallery">
    <div class="flat-image-wrapper">
      <h1><strong><%= @flat.name %></strong></h1>
      <% if @flat.photo.attached? %>
        <%= image_tag @flat.photo, class: 'flat-image' %>
      <% end %>
      <p></p>

      <p><%= @flat.description %></p>
      <p><strong><%= @flat.price_per_night %> gold per night</strong> </p>
    </div>
  </div>

  <!-- Booking Section -->
  <div class="booking-container">
    <h3><strong><%= @flat.price_per_night %> gold per night</strong></h3>

    <%= form_with model: @booking, url: flat_bookings_path(@flat), local: true do |f| %>
      <div class="form-group">
        <%= f.label :start_datetime, "CHECK-IN", style: "font-weight: bold; font-size: 0.8em;" %>
        <!-- Date picker for start_datetime -->
        <%= f.text_field :start_datetime, data: { controller: "datepicker" }, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :end_datetime, "CHECKOUT", style: "font-weight: bold; font-size: 0.8em;" %>
        <!-- Date picker for end_datetime -->
        <%= f.text_field :end_datetime, data: { controller: "datepicker" }, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :guests, "GUESTS", style: "font-weight: bold; font-size: 0.8em;"  %>
        <%= f.number_field :guests, class: "form-control", min: 1 %>
      </div>

      <div class="form-group">
        <%= f.submit "Reserve", class: "btn btn-primary w-100" %>
      </div>

      <!-- Text under the Reserve button -->
      <p class="text-muted" style="font-size: 0.9em; text-align: center;">
        You won't be charged yet. <br>
        Price per night includes VAT and all applicable fees.
      </p>


      <div class="form-group">
        <% if @booking.start_datetime && @booking.end_datetime %>
          <p><strong style="font-size: 1.2em;">Total</strong> <%= number_to_currency(@flat.price_per_night * booking_nights(@booking), unit: "gold") %></p>
        <% else %>
          <p><strong style="font-size: 1.2em;">Total</strong> Select dates to see the price</p>
        <% end %>
      </div>

    <% end %>
  </div>
</div>

<!-- What this place offers section -->
<div class="flat-amenities flat-gallery">
  <div class="flat-image-wrapper">
    <h2><strong>What this place offers</h2></strong>
    <div class="amenities-grid">
      <div class="amenities-left">
        <% @flat.amenities.split(', ').first(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
      <div class="amenities-right">
        <% @flat.amenities.split(', ').drop(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
