<!-- Flat Details and Booking Section Container -->
<div class="flat-container">
  <!-- Flat Details -->
  <div class="flat-gallery">
    <div class="flat-image-wrapper">
      <h1><strong><%= @flat.name %></strong></h1>
      <% if @flat.photo.attached? %>
        <%= image_tag @flat.photo, class: 'flat-image' %>
      <% end %>
      <p></p>

      <p><%= @flat.description %></p>
      <p><strong><%= @flat.price_per_night %> gold per night</strong> </p>
    </div>
  </div>

  <!-- Booking Section -->
  <div class="booking-container">
    <h3>Reserve Your Stay</h3>

    <%= form_with model: @booking, url: flat_bookings_path(@flat), local: true do |f| %>
      <div class="form-group">
        <%= f.label :start_datetime, "Check-in Date" %>
        <%= f.datetime_select :start_datetime, { include_blank: true, ampm: true }, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :end_datetime, "Check-out Date" %>
        <%= f.datetime_select :end_datetime, { include_blank: true, ampm: true }, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :guests, "Number of Guests" %>
        <%= f.number_field :guests, class: "form-control", min: 1 %>
      </div>

      <div class="form-group">
        <% if @booking.start_datetime && @booking.end_datetime %>
          <p><strong>Total Price:</strong> <%= number_to_currency(@flat.price_per_night * booking_nights(@booking), unit: "gold") %></p>
        <% else %>
          <p><strong>Total Price:</strong> Select dates to see the price</p>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.submit "Reserve", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- What this place offers section -->
<div class="flat-amenities flat-gallery">
  <div class="flat-image-wrapper">
    <h2><strong>What this place offers</h2></strong>
    <div class="amenities-grid">
      <div class="amenities-left">
        <% @flat.amenities.split(', ').first(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
      <div class="amenities-right">
        <% @flat.amenities.split(', ').drop(@flat.amenities.split(', ').length / 2).each do |amenity| %>
          <div class="amenity-item">
            <span><%= amenity %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
