<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="<%= modal_id %>Label"><%= modal_title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-muted"><%= description %></p>
        <%= simple_form_for(@user, url: update_user_profile_path, method: :patch) do |f| %>
          <div class="form-group">
            <%= f.input attribute, label: false, placeholder: placeholder, required: false %>
          </div>
          <div class="form-group mt-3">
            <%= f.button :submit, "Save", class: "btn-black" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
