<!-- app/views/users/profile.html.erb -->
<div class="adventurer-card">
  <% if @user.photo.attached? %>
    <%= image_tag @user.photo, class: "avatar-xl" %>
  <% end %>
  <h1><%= @user.name.split.first %></h1>
</div>
<% if current_user.role == "landlord" %>
  <%= form_with model: @user, url: update_role_path, method: :patch, local: true do |form| %>
    <div class="form-group">
      <%= form.label :role, "Select Role" %>
      <%= form.select :role, User.roles.keys.map { |role| [role.capitalize, role] }, { include_blank: false } %>
    </div>
    <%= form.submit "Update Role", class: "btn btn-primary" %>
  <% end %>
  <p>You are a landlord.</p>
<% end %>
<!-- Edit Profile Button -->
<%= link_to "Edit Profile", edit_user_profile_path, class: "btn btn-primary" %>
<!-- Messages -->
<% if current_user.landlord? %>
  <!-- Only show for landlords -->
  <%= link_to 'View messages for my lair', flat_messages_path(flat_id: @flat.id), class: "btn btn-secondary" %>
<% end %>
