<!-- app/views/users/profile.html.erb -->
<h1>Welcome, <%= @user.name %>!</h1>
<% if @user.photo.attached? %>
  <%= image_tag @user.photo, class: "avatar-xl" %>
</div>
<% end %>
<p>Email: <%= @user.email %></p>
<!-- Add any other user information you'd like to display -->
<%= simple_form_for(@user, url: update_user_profile_path, html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.input :photo, as: :file, label: "Upload Profile Picture" %>
  </div>
  <div class="form-group">
    <%= f.button :submit, "Update Profile" %>
  </div>
<% end %>
<%= form_with model: @user, url: update_role_path, method: :patch, local: true do |form| %>
  <div class="form-group">
    <%= form.label :role, "Select Role" %>
    <%= form.select :role, User.roles.keys.map { |role| [role.capitalize, role] }, { include_blank: false } %>
  </div>
  <%= form.submit "Update Role", class: "btn btn-primary" %>
<% end %>
<% if @user.role == "tenant" %>
  <p>You are a tenant.</p>
<% elsif @user.role == "landlord" %>
  <p>You are a landlord.</p>
<% end %>
<!-- Edit Profile Button -->
<%= link_to "Edit Profile", edit_user_profile_path, class: "btn btn-primary" %>
<!-- Messages -->
<%= link_to 'View messages for my lair', flat_messages_path(flat_id: @flat.id), class: "btn btn-secondary" %>
